# ==========================================
# SUSRUTHA ADMIN PANEL CMS - ENV CONFIG
# ==========================================

# Public API Endpoint for Backend Server
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1/admin

# Site Metadata
NEXT_PUBLIC_APP_NAME=Susrutha Hospital Admin CMS
